/* Variables */
:root {
    --color: skyblue;
    --lineColor: hotpink;
    --fontColor: #bbb;
    --bgColor1: #222;
    --bgColor2: #444;
    --yearBgColor: #333;
    --breakpoint: 700px;
  }
 
  .about-me{
    height: 80vh;
    
    margin-top: 100px;
  }
  
  ::-webkit-scrollbar{
    display: none;
  }

  /* Timeline Styles */
  .timeline {
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1300px;
  }
  
  .timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 1px solid var(--lineColor);
    right: 40px;
    top: 0;
  }
  
  .timeline:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (min-width: var(--breakpoint)) {
    .timeline {
      padding: 2rem;
    }
    .timeline:before {
      left: calc(50% - 1px);
      right: auto;
    }
  }
  
  /* Timeline Item Styles */
  .timeline__item {
    padding: 1rem;
    border: 2px solid var(--lineColor);
    border-image: linear-gradient(to right, var(--color) 0%, var(--lineColor) 100%);
    border-image-slice: 1;
    position: relative;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
  }
  
  .timeline__item:after,
  .timeline__item:before {
    content: '';
    position: absolute;
  }
  
  .timeline__item:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: var(--lineColor) var(--lineColor) transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
  }
  
  @media screen and (min-width: var(--breakpoint)) {
    .timeline__item {
      width: 44%;
      margin: 1rem;
    }
    .timeline__item:nth-of-type(2n) {
      float: right;
      margin: 1rem;
      border-image: linear-gradient(to right, var(--lineColor) 0%, var(--color) 100%);
      border-image-slice: 1;
    }
    .timeline__item:nth-of-type(2n):before {
      right: auto;
      left: -10px;
      border-color: transparent transparent var(--lineColor) var(--lineColor);
    }
  }
  
  /* Year Styles */
  .timeline__item--year {
    text-align: center;
    /* max-width: 150px; */
    width: fit-content;
    margin: 0 48px 0 auto;
    font-size: 1.8rem;
    background-color: var(--yearBgColor);
    line-height: 1;
    border-image: none;
    padding: .5rem 1rem 1rem;
  }
  
  .timeline__item--year:before {
    display: none;
  }
  
  @media screen and (min-width: var(--breakpoint)) {
    .timeline__item--year {
      text-align: center;
      margin: 0 auto;
    }
    .timeline__item--year:nth-of-type(2n) {
      float: none;
      margin: 0 auto;
      border-image: none;
    }
    .timeline__item--year:nth-of-type(2n):before {
      display: none;
    }
  }
  
  /* Additional Styles */
  .timeline__title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
  }
  
  .timeline__blurb {
    line-height: 1.5;
    font-size: 1rem;
    margin: .5rem 0 0;
  }
  
  .about-me {
    
    z-index: 50; 
    position: relative;
    height: 70vh;
    display: flex;
    color: #fff;
    padding: 30px;
    justify-content: space-around;
  
  }
  
  .left
  {
     font-size: 5rem;
     font-weight: 900;
     padding: 30px;
     /* background-color: #6859a3; */
    
  }
  
  
  .right{
    padding: 20px;

    width: 60%;
    height: 200px;
    font-size: 1.4rem;
    /* background-color: #72c2c2; */
  }
  
  .right h2{
    margin-bottom: 30px;
  }

  @media screen and (max-width:1000px) {
    .about-me{
      display: block;
    }
    .right{
      width: 100%;
    }
  }