*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    
    background: radial-gradient(
      circle 815px at 23.4% -21.8%,
      rgb(38, 9, 85) 0.2%,
      rgba(0, 0, 0, 1) 100%
    );
   
    /* background-color: #679EF7; */
    padding: 20px;
  }

  /* skills */
.skills-cont{
    width: 100%;
    /* background-color: #13D73E; */
    height: 100%;
  }
.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 1px 1px 20px 1px #d86bf3;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: transform 0.1s;
    overflow: hidden;
}

.btn span {
    position: relative;
    pointer-events: none;
    color: #000;
    transition: 0.5s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}

.btn:hover span {
    color: #000;
}

.btn::before {
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    background: #871bcf;
    z-index: -1;
    width: 0;
    height: 0;
    border-radius: 50px;
    transition: 0.8s, left 0s, top 0s;
}

.inner-cont {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-around;
}


.info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;

}

h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 4rem;
    width: 30%;
    position: absolute;
    left: 0%;
    top: 30%;
    animation: anim 2000ms ease forwards;
    animation-delay: 500ms;

}

a {
    text-decoration: none;
}


.contacts-cont img {
    animation: anim 1000ms ease forwards;
    animation-delay: 500ms;
}

.skills-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-skills {
    width: 90%;
    justify-content: end;
}

.cont {

    
    float: right;
    width: 60%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    
}

.pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    position: absolute;
    top: 300px;
    left: 20%;
    border: 4px solid #fff;
    background: url('./images/img4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cont h3{
    margin: 0;
}
.progress-title{
    font-size: 16px;
    /* color:#011627; */
    color: #fff;
    margin:0px 0 20px;
    font-weight: 700;
}
.progress{
    background-color:#fff;
    height:15px;
    overflow: visible !important;
    position: relative;
    margin-bottom: 30px;
    position: relative;
    border-radius:20px !important;
    box-shadow: none;
border:1px solid black;
}
.progress .progress-bar{
    animation: animate-positive 2s;
    position: relative;
    box-shadow: none;
border-radius:20px !important;
}
.progress .progress-bar:after{
    content:"";
    position: absolute;
    top: -12px;
    right: 0px;
    background-color: #FF918E;
    height:35px;
    width: 35px;
    border-radius: 50%;
border:1px solid black;
}
.progress.green .progress-bar:after{
    background-color:#A8FEBB;
}.progress.blue .progress-bar:after{
    background-color: #9CF9FB;
}.progress.yellow .progress-bar:after{
    background-color:#EFDC7C;
}

.progress .progress-bar:before{
content:"";
    position: absolute;
    top: -24px;
    right: 0px;
    background-color:#F51008;
    height:15px;
    width: 15px;
    border-radius: 50%;
border:1px solid black;
}

.progress.green .progress-bar:before{
    background-color:#13D73E;
}.progress.blue .progress-bar:before{
    background-color:  #679EF7;
}.progress.yellow .progress-bar:before{
    background-color:#F0C808;
}
.progress .progress-value{
    position: absolute;
    padding: 3px 7px;
    top:-50px;
    right:-20px;
    font-size:14px;
    color:#ffffff;
    background-color: #000000;
    display: block;
}
.progress .progress-value:after{
    content: "";
    position: absolute;
    bottom:-6px;
    left: 35%;
    border-top: 7px solid #000000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
a {
    text-decoration: none;
}

@-webkit-keyframes animate-positive {
    0% { width: 0%; }
}

@keyframes animate-positive {
    0% { width: 0%; }
}


@media screen and (max-width:948px) {

    .inner-cont {
        display: block;
    }

    .info {
        flex-direction: row;
    }

    .info {
        align-self: flex-end;
    }

    .inner-skills {
        margin-top: 50px;
        /* justify-content: flex-start; */
        float: left;
    }
    .pic{
        position: static;
        float: right;
    }

    .cont {
        margin-top: 40px;
        width: 100%;
    }



}

@media screen and (max-width:1000px) {
    .inner-skills h1 {
        top: 15%;
    }

}

@keyframes anim {
    to {
        transform: translate(50%);

        opacity: 1;
    }
}