
.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 1px 1px 20px 1px #d86bf3;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: transform 0.1s;
    overflow: hidden;
}

.btn span {
    position: relative;
    pointer-events: none;
    color: #000;
    transition: 0.5s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}

.btn:hover span {
    color: #000;
}

.btn::before {
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    background: #871bcf;
    z-index: -1;
    width: 0;
    height: 0;
    border-radius: 50px;
    transition: 0.8s, left 0s, top 0s;
}

.inner-cont{
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-around;
}


.info{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;

}

h1{
    color: #ffffff;
    font-weight: 900;
    font-size: 4rem;
    width: 30%;
    position: absolute;
    left: 0%;
    top: 30%;
    animation: anim  2000ms ease forwards;
    animation-delay: 500ms;

}

a{
   text-decoration: none;
}


.contacts-cont img{
    animation: anim  1000ms ease forwards;
    animation-delay: 500ms;
  }
  
@media screen and (max-width:600px) {
    
    .inner-cont{
        display: block;
    }
    .info{
        flex-direction: row;
    }
    .info{
        align-self: flex-end;
    }

}

@keyframes anim {
    to {
      transform: translate(50%);
     
      opacity: 1;
    }
  }
  