@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgb(38, 9, 85) 0.2%,
    rgba(0, 0, 0, 1) 100.2%
  );
  overflow: hidden;
  user-select: none;
}

nav .menu-icon {
  width: 40px;
  color: #ffffff;
  cursor: pointer;

}

.menu-container .close-icon {
  width: 40px;
}


.hero {
  height: 100vh;
  position: relative;
}

.hero img {
  /* height: 100vh; */
  bottom: 0;
  left: 50%;
  transform: translate(calc(-50% + 200px), 0);
  opacity: 0;
  animation: anim 500ms ease forwards;
  animation-delay: 600ms;
}

.hero img,
.hero h2 {
  position: absolute;

}

.menu-container {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  right: 0;
  height: 100vh;
  background: #fff;
  flex-direction: column;
  width: 300px;
  gap: 30px;
  font-size: 28px;
  z-index: 300;
  padding: 60px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(100%);
  box-shadow: -50px 0 60px -8px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.menu-container.active {
  transform: translateX(0);
  opacity: 1;
}

.menu-container .close-icon {
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 8px;
  cursor: pointer;
}

.menu-container a {
  text-decoration: none;
  color: #1f1f1f;
}

.menu-container a:hover {
  text-decoration: underline;
  color: #829dff;
}

nav {
  position: fixed;
  max-width: 1000px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 16px;
  margin: 0 auto;
  z-index: 200;
}

nav a {
  font-size: 20px;
  color: #829dff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.hero h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  
}

.hero h2:first-child {
  font-size: 300px;
  color: #e60f00;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 120px);
  opacity: 0;
  animation: anim 1900ms ease forwards;
  text-shadow: 0px 0px 5px #ff0101;
}

.hero h2:last-child {
  font-size: 160px;
  bottom: 60px;
  left: 50%;
  color: #0588af;
  transform: translate(calc(-50% + 100px), 0);
  opacity: 0;
  rotate: -3deg;
  text-shadow: 1px 22px 12px rgba(0, 0, 0, 0.4);
  animation: anim  1000ms ease forwards;
  animation-delay: 500ms;
  text-shadow: 0px 0px 5px hsl(180, 100%, 50%);
  
}


@media (max-width: 1147px) {
  .hero h2:first-child {
    font-size: 250px;
    
  }

 
  .hero h2:last-child {
    font-size: 140px;
    bottom: 80px;
  }

}

@media (max-width: 985px) {
  .hero h2:first-child {
    font-size: 200px;
    bottom: 120px;
  }

  .hero h2:last-child {
    font-size: 120px;
    bottom: 80px;
  }
  .hero img{
    height: 70vh;
  }
}

@media (max-width: 780px) {
  .hero h2:first-child {
    font-size: 150px;
    /* bottom: 70px; */
  }

  .hero h2:last-child {
    font-size: 110px;
    bottom: 80px;
  }

  .hero img {
    height: 70vh;
  }
}

@media (max-width: 583px) {
  .hero h2:first-child {
    font-size: 80px; 
    top: 60px;
  }

  .hero h2:last-child {
    font-size: 100px; 
    bottom: 40px;
  }

  .hero img {
    height: 50vh;
  }
}




